// Font-family
$Manrope-font: "Manrope", sans-serif;
$Roboto-Slab-font: "Roboto Slab", serif;
$DM-Sans-font: "DM Sans", sans-serif;

// phone: 767.98
// tablet: 991.98
// desktop: 1199.98

// ver1
$responsive-breakpoints: (
  xxl: 1400px,
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
);
