<!-- Start Footer -->
<footer class="footer-wrapper">
  <div class="footer">
    <!-- start upper -->
    <div class="footer-upper container">
      <div class="row">
        <div class="col col-7 col-sm-12">
          <div class="website-info">
            <div class="website-info__child">
              <h5 class="title">Justice</h5>
              <ul class="content">
                <li class="content-item">
                  <a href="">Privacy Policy</a>
                </li>
                <li class="content-item">
                  <a href="">Terms & Conditions</a>
                </li>
                <li class="content-item">
                  <a href="">Cookie Preferences</a>
                </li>
              </ul>
            </div>
            <div class="website-info__child">
              <h5 class="title">Pages</h5>
              <ul class="content">
                <li class="content-item">
                  <a href="">Home</a>
                </li>
                <li class="content-item">
                  <a href="">About</a>
                </li>
                <li class="content-item">
                  <a href="">Practice Areas</a>
                </li>
                <li class="content-item">
                  <a href="">Attorneys</a>
                </li>
              </ul>
            </div>
            <div class="website-info__child">
              <h5 class="title">Justice</h5>
              <ul class="content">
                <li class="content-item">
                  50 Harrison Street, PH Suite 445 Hoboken, NJ 07030
                </li>
                <li class="content-item">
                  <a href="tel:0001234567">(000) 123-4567</a>
                </li>
                <li class="content-item">
                  <a href="mailto:yourlawfirm22@gmail.com"
                    >yourlawfirm22@gmail.com</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="map-wrapper col col-5 col-sm-12">
          <figure class="map">
            <img src="./img/map.png" alt="" />
          </figure>
        </div>
      </div>
    </div>
    <!-- end upper -->

    <!-- start lower -->
    <div class="footer-lower">
      <div class="logo-legal">
        <div class="logo">
          <a class="logo-path" href="./index.html">
            <i class="hammer-icon fa-solid fa-gavel"></i>
            <strong class="name-company">JUSTICE</strong>
            <span class="majority">Law Firm</span>
          </a>
        </div>

        <p class="legal">Copyright © 2022 UI HUT All Rights Reserved</p>
      </div>
      <ul class="social-media-contact">
        <li>
          <a style="background-color: #fd6038" href=""
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
        </li>
        <li>
          <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!-- End Footer -->
