<!-- 
            Start Header nav
            -->

<!-- Mobile/ Tablet nav button -->
<div class="mobile-tablet-nav">
  <input class="hidden-checkbox" type="checkbox" name="" id="menu-bar" hidden />
  <label for="menu-bar" class="menu-bar">
    <i class="fa-solid fa-bars"></i>
  </label>

  <ul class="nav-menu">
    <label class="xmark-nav" for="menu-bar">
      <i class="fa-solid fa-circle-xmark"></i>
    </label>
    <li class="menu-item">
      <input class="menu-check" type="checkbox" id="menu-check" hidden />
      <label for="menu-check">
        <a style="pointer-events: none" href="">Home</a></label
      >
      <ul class="sub-menu">
        <li class="sub-menu__item">
          <a href="./index.html">Home Page</a>
        </li>
        <li class="sub-menu__item">
          <a href="#about-us">About us</a>
        </li>

        <li class="sub-menu__item">
          <a href="#home-services">Services</a>
        </li>

        <li class="sub-menu__item">
          <a href="#home-properties">Properties</a>
        </li>

        <li class="sub-menu__item">
          <a href="#home-projects">Projects</a>
        </li>

        <li class="sub-menu__item">
          <a href="#home-team-members">Team Members</a>
        </li>

        <li class="sub-menu__item">
          <a href="#home-testimonials">Testimonials</a>
        </li>

        <li class="sub-menu__item">
          <a href="#home-blog-post">Blog Post</a>
        </li>

        <li class="sub-menu__item">
          <a href="#home-faq">FAQ</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <input
        class="menu-check-about"
        type="checkbox"
        id="menu-check-about"
        hidden
      />
      <label for="menu-check-about">
        <a style="pointer-events: none" href="">About</a></label
      >
      <ul class="sub-menu">
        <li class="sub-menu__item">
          <a href="./about.html">About Page</a>
        </li>
        <li class="sub-menu__item">
          <a href="#about-interview">Interview</a>
        </li>

        <li class="sub-menu__item">
          <a href="#about-history">History</a>
        </li>

        <li class="sub-menu__item">
          <a href="#about-experience">Experience</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <input
        class="menu-check-practice"
        type="checkbox"
        id="menu-check-practice"
        hidden
      />
      <label for="menu-check-practice">
        <a style="pointer-events: none" href="">Practice Areas</a></label
      >
      <ul class="sub-menu">
        <li class="sub-menu__item">
          <a href="./practice.html">Practice Areas Page</a>
        </li>
        <li class="sub-menu__item">
          <a href="#practice-services">Services</a>
        </li>

        <li class="sub-menu__item">
          <a href="#practice-cta">CTA</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <input
        class="menu-check-attorneys"
        type="checkbox"
        id="menu-check-attorneys"
        hidden
      />
      <label for="menu-check-attorneys">
        <a style="pointer-events: none" href="">Attorneys</a></label
      >
      <ul class="sub-menu">
        <li class="sub-menu__item">
          <a style="pointer-events: none" href="">404</a>
        </li>

        <li class="sub-menu__item">
          <a style="pointer-events: none" href="">Unknown</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <input
        class="menu-check-page"
        type="checkbox"
        id="menu-check-page"
        hidden
      />
      <label for="menu-check-page">
        <a style="pointer-events: none" href="">Page</a></label
      >
      <ul class="sub-menu">
        <li class="sub-menu__item">
          <a href="./blog.html">Blog</a>
        </li>

        <li class="sub-menu__item">
          <a href="./contact.html">Contact</a>
        </li>
      </ul>
    </li>
  </ul>

  <label for="menu-bar" class="backdrop for-nav"></label>
  <div class="phone-contact">
    <div class="call">Call:</div>
    <div class="phone-number">(000) 123 456 789</div>
  </div>
</div>

<div class="header-nav">
  <!-- 
                        Start logo
                        -->
  <div class="logo">
    <a class="logo-path" href="./index.html">
      <i class="hammer-icon fa-solid fa-gavel"></i>
      <strong class="name-company">JUSTICE</strong>
      <span class="majority">Law Firm</span>
    </a>
  </div>
  <!-- 
                        End logo
                        -->

  <!-- 
                          Start Nav
                        -->
  <nav class="nav">
    <ul class="nav-content">
      <li class="nav-content__child">
        <a target="" href="./index.html" class="item"
          >Home
          <i class="fa-solid fa-angle-down"></i>
        </a>
        <ul class="sub-menu">
          <li class="sub-menu__item">
            <a href="#about-us">About us</a>
          </li>

          <li class="sub-menu__item">
            <a href="#home-services">Services</a>
          </li>

          <li class="sub-menu__item">
            <a href="#home-properties">Properties</a>
          </li>

          <li class="sub-menu__item">
            <a href="#home-projects">Projects</a>
          </li>

          <li class="sub-menu__item">
            <a href="#home-team-members">Team Members</a>
          </li>

          <li class="sub-menu__item">
            <a href="#home-testimonials">Testimonials</a>
          </li>

          <li class="sub-menu__item">
            <a href="#home-blog-post">Blog Post</a>
          </li>

          <li class="sub-menu__item">
            <a href="#home-faq">FAQ</a>
          </li>
        </ul>
      </li>
      <li class="nav-content__child">
        <a href="./about.html" class="item"
          >About
          <i class="fa-solid fa-angle-down"></i>
        </a>
        <ul class="sub-menu">
          <li class="sub-menu__item">
            <a href="#about-interview">Interview</a>
          </li>

          <li class="sub-menu__item">
            <a href="#about-history">History</a>
          </li>

          <li class="sub-menu__item">
            <a href="#about-experience">Experience</a>
          </li>
        </ul>
      </li>
      <li class="nav-content__child">
        <a href="./practice.html" class="item"
          >Practice Areas
          <i class="fa-solid fa-angle-down"></i>
        </a>
        <ul class="sub-menu">
          <li class="sub-menu__item">
            <a href="#practice-services">Services</a>
          </li>

          <li class="sub-menu__item">
            <a href="#practice-cta">CTA</a>
          </li>
        </ul>
      </li>
      <li class="nav-content__child">
        <a style="pointer-events: none" href="/" class="item"
          >Attorneys
          <i class="fa-solid fa-angle-down"></i>
        </a>
        <ul class="sub-menu">
          <li class="sub-menu__item">
            <a href="">404</a>
          </li>

          <li class="sub-menu__item">
            <a href="">Unknown</a>
          </li>
        </ul>
      </li>
      <li class="nav-content__child">
        <a style="pointer-events: none" href="./page.html" class="item"
          >Page
          <i class="fa-solid fa-angle-down"></i>
        </a>
        <ul class="sub-menu">
          <li class="sub-menu__item">
            <a href="./blog.html">Blog</a>
          </li>

          <li class="sub-menu__item">
            <a href="./contact.html">Contact</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- 
                          End Nav
                        -->
  <div class="phone-contact">
    <div class="call">Call:</div>
    <div class="phone-number">(000) 123 456 789</div>
  </div>
</div>
<!-- 
                      End Header nav
                      -->

<!-- 
                        Start Header Content
                      -->
