<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <%- include("./partial/head.ejs") %>
  </head>
  <body>
    <div class="blog-wrapper">
      <header class="blog-nav-wrapper">
        <%- include("./partial/header-nav.ejs") %>
      </header>

      <main class="blog-main">
        <div class="blog-heading-wrapper">
          <div class="blog-heading">
            <h1 class="heading">Our Regular Blog</h1>
            <p class="desc">
              With our experience we are ready to help you create a modern
              property with an easy step.
            </p>
          </div>
        </div>

        <div class="blog-content-wrapper">
          <div class="blog-content">
            <article class="blog-content__item blog-1">
              <figure class="blog-img">
                <img src="./img/blog-1.png" alt="" />
              </figure>

              <h2 class="blog-content-heading">
                Top 20 Effective Digital Marketing Tools to Help
              </h2>
              <div class="time">
                <time datetime2021-07-21="20July 27, 202121-07-27"
                  >July 27, 2021</time
                >
              </div>
            </article>
            <article class="blog-content__item blog-2">
              <figure class="blog-img">
                <img src="./img/blog-2.png" alt="" />
              </figure>

              <h2 class="blog-content-heading">
                Top 20 Effective Digital Marketing Tools to Help
              </h2>
              <div class="time">
                <time datetime="2021-07-21">July 27, 2021</time>
              </div>
            </article>
            <article class="blog-content__item blog-3">
              <figure class="blog-img">
                <img src="./img/blog-3.png" alt="" />
              </figure>

              <h2 class="blog-content-heading">
                Top 20 Effective Digital Marketing Tools to Help
              </h2>
              <div class="time">
                <time datetime="2021-07-21">July 27, 2021</time>
              </div>
            </article>
            <article class="blog-content__item blog-4">
              <figure class="blog-img">
                <img src="./img/blog-4.png" alt="" />
              </figure>

              <h2 class="blog-content-heading">
                Top 20 Effective Digital Marketing Tools to Help
              </h2>
              <div class="time">
                <time datetime="2021-07-21">July 27, 2021</time>
              </div>
            </article>
            <article class="blog-content__item blog-5">
              <figure class="blog-img">
                <img src="./img/blog-5.png" alt="" />
              </figure>

              <h2 class="blog-content-heading">
                Top 20 Effective Digital Marketing Tools to Help
              </h2>
              <div class="time">
                <time datetime="2021-07-21">July 27, 2021</time>
              </div>
            </article>
            <article class="blog-content__item blog-6">
              <figure class="blog-img">
                <img src="./img/blog-6.png" alt="" />
              </figure>

              <h2 class="blog-content-heading">
                Top 20 Effective Digital Marketing Tools to Help
              </h2>
              <div class="time">
                <time datetime="2021-07-21">July 27, 2021</time>
              </div>
            </article>
            <article class="blog-content__item blog-7">
              <figure class="blog-img">
                <img src="./img/blog-7.png" alt="" />
              </figure>

              <h2 class="blog-content-heading">
                Top 20 Effective Digital Marketing Tools to Help
              </h2>
              <div class="time">
                <time datetime="2021-07-21">July 27, 2021</time>
              </div>
            </article>
            <article class="blog-content__item blog-8">
              <figure class="blog-img">
                <img src="./img/blog-8.png" alt="" />
              </figure>

              <h2 class="blog-content-heading">
                Top 20 Effective Digital Marketing Tools to Help
              </h2>
              <div class="time">
                <time datetime="2021-07-21">July 27, 2021</time>
              </div>
            </article>
            <article class="blog-content__item blog-9">
              <figure class="blog-img">
                <img src="./img/blog-9.png" alt="" />
              </figure>

              <h2 class="blog-content-heading">
                Top 20 Effective Digital Marketing Tools to Help
              </h2>
              <div class="time">
                <time datetime="2021-07-21">July 27, 2021</time>
              </div>
            </article>
            <article class="blog-content__item blog-10">
              <figure class="blog-img">
                <img src="./img/blog-10.png" alt="" />
              </figure>

              <h2 class="blog-content-heading">
                Top 20 Effective Digital Marketing Tools to Help
              </h2>
              <div class="time">
                <time datetime="2021-07-21">July 27, 2021</time>
              </div>
            </article>
            <article class="blog-content__item blog-11">
              <figure class="blog-img">
                <img src="./img/blog-11.png" alt="" />
              </figure>

              <h2 class="blog-content-heading">
                Top 20 Effective Digital Marketing Tools to Help
              </h2>
              <div class="time">
                <time datetime="2021-07-21">July 27, 2021</time>
              </div>
            </article>
            <article class="blog-content__item blog-12">
              <figure class="blog-img">
                <img src="./img/blog-12.png" alt="" />
              </figure>

              <h2 class="blog-content-heading">
                Top 20 Effective Digital Marketing Tools to Help
              </h2>
              <div class="time">
                <time datetime="2021-07-21">July 27, 2021</time>
              </div>
            </article>
            <article class="blog-content__item blog-13">
              <figure class="blog-img">
                <img src="./img/blog-13.png" alt="" />
              </figure>

              <h2 class="blog-content-heading">
                Top 20 Effective Digital Marketing Tools to Help
              </h2>
              <div class="time">
                <time datetime="2021-07-21">July 27, 2021</time>
              </div>
            </article>
            <article class="blog-content__item blog-14">
              <figure class="blog-img">
                <img src="./img/blog-14.png" alt="" />
              </figure>

              <h2 class="blog-content-heading">
                Top 20 Effective Digital Marketing Tools to Help
              </h2>
              <div class="time">
                <time datetime="2021-07-21">July 27, 2021</time>
              </div>
            </article>
            <article class="blog-content__item blog-15">
              <figure class="blog-img">
                <img src="./img/blog-15.png" alt="" />
              </figure>

              <h2 class="blog-content-heading">
                Top 20 Effective Digital Marketing Tools to Help
              </h2>
              <div class="time">
                <time datetime="2021-07-21">July 27, 2021</time>
              </div>
            </article>
            <article class="blog-content__item blog-16">
              <figure class="blog-img">
                <img src="./img/blog-16.png" alt="" />
              </figure>

              <h2 class="blog-content-heading">
                Top 20 Effective Digital Marketing Tools to Help
              </h2>
              <div class="time">
                <time datetime="2021-07-21">July 27, 2021</time>
              </div>
            </article>
          </div>

          <button class="btn load-more-btn">
            <a href="">Load More</a>
          </button>
        </div>
      </main>

      <%- include("./partial/footer.ejs") %>
    </div>

    <script type="module" src="./main.js"></script>
  </body>
</html>
